@font-face{
    font-family: 'alex';
    src: url(../font/Caveat/Caveat-VariableFont_wght.ttf);
}
:root { /*tabela de cores baseada na Disney*/
    --cor1: #5454af;
    --cor2: #f4dca0;
    --cor3: #82cbae;
    --cor4: #309587;
    --cor5: #bba2db;
    --corfundo : #f7f8df;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'alex';
}

img {
    width: 200px; 
    height: 200px;
    background-color: var(--cor2);
    border: 5px outset var(--cor1);
    border-radius: 50%;
    display: none; /* conecçao com JS */
    margin-left: auto;
    margin-right: auto;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: var(--cor5);
    min-height: 87vh;
}
main { /* deixa */
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}
section {
    background-color: #fbdfe4;
    border-radius: 10px;
    padding: 15px;
    width: 330px;
    box-shadow: -25px -15px 0px var(--cor1);
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
h1 {
    font-size: 45px;
    color: var(--cor5);
}
p {
    font-size: 25px;
    color: var(--cor3);
}

#rodape {
    display: flex;
    flex-direction: row;
    gap: 35px;
}
#rodape p, a{
    text-decoration: none;
    font-size: 20px;
    color: var(--cor1)
}
a:hover {
    color: var(--cor4);
}

/*estilo da busca id*/
input {
    width: 250px;
    height: 40px;
    background-color: var(--cor2);
    color: var(--cor4);
    text-align: center;
    font-size: 25px;
    border: none;
    border-radius: 15px;
}
input::placeholder{
    font-size: 15px;
    color: var(--cor1);
    text-align: center;
}
input:focus{
    outline: none;
    border: 3px solid var(--cor1);
}

/*stilo do botao de busca*/
button.coracao_butao {
    width: 200px;
    height: 35px;
    font-size: 25px;
    color: var(--cor1);
    border: 2px solid var(--cor1);
    background-color: var(--corfundo);
    border-radius: 15px;
    cursor: pointer;
}

button:focus{ /*quando for clicado*/
    outline: none;
    border: 2px inset var(--cor3);
    background: var(--cor3);
    color: var(--cor6);
}

/* stilo dos botoes de proximo e anterior*/
#btn-prev, #btn-next {
    width: 115px;
    height: 35px;
    font-size: 25px;
    background-color: var(--cor2);
    color: var(--cor1);
    border: none;
    border-radius: 5px;
}
#btn-prev:hover { /*quando o mouse for em cima*/
    transform: scale(0.75);
}
#btn-next:hover {
    transform: scale(0.75);
}

@media(max-width: 600px){ /* responsividade celular */
    section {
        width: 300px;
        box-shadow: -15px -15px 0px var(--cor1);
    }
}